<div fxLayout="row" class="general-presentation-container" fxLayoutAlign="center center">
  <div class="text-container">

    <h3 class="highlight">
      My name is Ali
    </h3>
    <div class="text-block">
      I'm a software engineering student in
      <i>National Institut of Applied Sciences and Technology, University of Carthage.</i>
    </div>
    <div class="text-block">
      I also worked as <i>graphic designer</i> for many student clubs.
    </div>
    <div class="text-block">
      Hobbies ? I love <i>photography</i> ! I take portraits, astro and street photos
    </div>
  </div>
  <img src="assets/images/profile-colored.jpg"/>
</div>
