<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap.gt-sm="32px"
     class="center-of-page footer-container">
  <div fxFlex.gt-sm="35" fxFlex.lt-md="30" fxLayout="column" fxHide.lt-sm="true">
    <h3 style="margin-top: 0">Did you like my website?</h3>
    <div class="text-block"> Glad that you visited my website. Feel free to send me your feedback.</div>
    <div fxFlex="10" style="margin-top: auto">V<span style="font-size: 24px;font-weight: 500"> {{version}}</span></div>
  </div>
  <div fxFlex.gt-sm="40">
    <h3 style="margin-top: 0"> Contact</h3>
    <div fxLayout="column">
      <div class="info-box"><span class="highlight-shade-one">@</span>alee.hamouda@gmail.com</div>
      <div class="info-box"><span class="highlight-shade-one">P</span>99 040 600</div>
      <div class="info-box"><span class="highlight-shade-one">Li</span>ali-c-hamouda</div>
      <div class="info-box"><span class="highlight-shade-one">Ig</span>alihamouda_</div>
    </div>
  </div>
  <div fxFlex.gt-sm="25" style="display: flex;align-items: center;" fxHide.lt-md="true">
    <img style="height: auto;width:100%;border-radius: 50%;" src="assets/images/profile-colored.jpg">
  </div>
</div>
