@import "constants";

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  border-bottom-style: solid;
  transition: background 150ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

}

button:hover,
button:focus {
  border-bottom-style: solid;
}

button:focus {
  outline: 0px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.secondary-button {
  border-bottom-color: $secondary-color;
  background: $secondary-color;
  color: #ffffff;
}

.secondary-button:hover, .secondary-button:focus {
  color: $secondary-color;
  background-color: #ffffff;
}

.accent-button {
  border-bottom-color: $accent-color;
  background: $accent-color;
  color: #ffffff;
}

.accent-button:hover, .accent-button:focus {
  color: $accent-color;
  background-color: #ffffff;
}

.shade-one-button {
  border-bottom-color: $shade-one;
  background: $shade-one;
  color: $shade-five;
}

.shade-one-button:hover, .shade-one-button:focus {
  color: $shade-one;
  background-color: $shade-four;
}
