$screen-width: 1250px;
$content-width: 950px;
$primary-color: #5BB1E3;
$secondary-color: #728B99;
$third-color: #963C3F;
$fourth-color: #E6E5BA;
$accent-color: #E37176;

$shade-one: rgb(255,255,255);
$shade-two: rgb(180,180,180);
$shade-three: rgb(120,120,120);
$shade-four: rgb(88,88,88);
$shade-five: rgb(22,22,22);
