$screen-width: 1250px;
$content-width: 950px;
$primary-color: rgb(238,221,71  );
$secondary-color: rgb(0,180,235);
$accent-color: rgb(237,71,119);

$shade-one: rgb(255,255,255);
$shade-two: rgb(180,180,180);
$shade-three: rgb(120,120,120);
$shade-four: rgb(88,88,88);
$shade-five: rgb(22,22,22);
