h4,h5,h6{
  font-family: "Montserrat", sans-serif;
}

h1,h2,h3{
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 128px;
  line-height: calc(128px*1.616);
}
h2 {
  font-size: 64px;
  line-height: calc(64px*1.616);
}
h3 {
  font-size: 32px;
  line-height: calc(32px*1.616);
}

h4 {
  font-size: 24px;
  line-height: calc(24px*1.616);
}
h5 {
  font-size: 16px;
  line-height: calc(128px*1.616);
}
h6 {
  font-size: 8px;
  line-height: calc(128px*1.616);
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 64px;
    line-height: calc(64px*1.616);
  }
  h2 {
    font-size: 32px;
    line-height: calc(32px*1.616);
  }

  h3 {
    font-size: 24px;
    line-height: calc(24px*1.616);
  }
  h4 {
    font-size: 16px;
    line-height: calc(16px*1.616);
  }
  h5 {
    font-size: 12px;
    line-height: calc(12px*1.616);
  }
  h5 {
    font-size: 8px;
    line-height: calc(8px*1.616);
  }
}
