
.text-block {
  margin-top: 8px;
}

.highlight-secondary {
  margin-top: 0;
  background-color: $secondary-color;
  color: white;
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.highlight-accent {
  margin-top: 0;
  background-color: $accent-color;
  color: white;
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.highlight-shade-four {
  margin-top: 0;
  background-color: $shade-four;
  color: white;
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.tag-shade-four {
  background-color: $shade-four;
  color: white;
  display: inline-block;
  padding: 8px 16px;
  margin: 8px;
}
