<div class="main-container" fxLayout.gt-md="row" fxLayout.lt-lg="column">
  <div  class="left-container" fxLayout="column" fxLayoutAlign="center start">
    <div style="position: relative; margin-bottom: 64px">
      <img class="img-small" [src]="'assets/images/BnW%20Me.jpg'" alt="Ali Hamouda"/>
      <h2 class="name">Ali <span class="underline">HAMOUDA</span></h2>
    </div>
    <div class="welcome-msg">Welcome to my portfolio<span class="dot-marker">.</span></div>
  </div>
  <div fxFlex.gt-md="39"  class="right-container">
    <img class="img-large" [src]="'assets/images/BnW%20Me.jpg'" alt="Ali Hamouda"/>
  </div>
</div>
