<div class="navbar-container" fxLayout="row" fxLayoutAlign="space-between">
  <div class="navbar-title">Ali</div>
  <div fxLayout="row" fxLayoutGap="16px">
    <div class="tooltip">
      <mat-icon class="category-icon">
        brush
      </mat-icon>
      <span class="tooltiptext">Graphic Design</span>
    </div>
    <div class="tooltip">
      <mat-icon class="category-icon">
        camera_alt
      </mat-icon>
      <span class="tooltiptext">Photography</span>
    </div>
    <div class="tooltip">
      <mat-icon class="category-icon">
        bug_report
      </mat-icon>
      <span class="tooltiptext">Software Enginnering</span>
    </div>
  </div>
</div>
