@import "src/styles";


.all-cards-container {
  margin-top: 8px;
}

.certificate-card-container{
  background-color: $fourth-color;
  padding: 32px;
  margin-bottom: 8px;
  color: white;
}

h4{
  margin: 0;
  line-height: 130%;
}


