@import "src/styles";
.all-cards-container{
  width: $screen-width;
  display: flex;
  padding-top: 8px;
}
@media screen and (max-width: #{$screen-width}){
  .all-cards-container{
    width: 100vw;
  }
}
