@import "src/styles";

.banner-container {
  position: relative;
  width: $screen-width;
  background-color: $secondary-color;
  justify-content: center;
  text-align: center;
  color: $shade_one;
  margin-top: 8px;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 64px;
  display: flex;
}
