@import "src/styles";

.welcome-container {
  background-color: $primary-color;
  padding: 32px;
  position: relative;
  color: $shade-one;
}

@media screen and (max-width: #{$screen-width}){
  .welcome-container  {
    margin-top: 0;
    padding: 32px;
  }
}

@media screen and (max-width: #{$screen-width-sm}){
  .welcome-container {
    margin-top: 0;
    padding: 16px;
  }
  .button-container {
    margin-bottom: 16px;

  }
  h2{
    margin-top: 0;

  }
  button{
    margin:8px;
  }
}

.button-container {
  margin-bottom: 64px;
  z-index: 5;
}

