<div class="welcome-container" fxLayout="column" fxLayoutAlign="center center" appAddCorners>
  <h2 style="text-align: center;max-width: 600px">Welcome to my website</h2>
  <div fxLayout="row wrap" fxLayoutGap="16px" class="button-container" fxHide.lt-md="true">
    <button class="shade-one-button">
      Graphic Design
    </button>
    <button class="shade-one-button">
      Software Engineering
    </button>
    <button class="shade-one-button">
      Photography
    </button>
  </div>
</div>
