
<div >
  <app-nav-bar></app-nav-bar>

  <app-welcome></app-welcome>
  <app-general-presentation></app-general-presentation>
  <app-abstract-banner [color]="'secondary-color'" [title]="'My Software Projects'" [hasCheckAllButton]="true" ></app-abstract-banner>
  <app-all-projects></app-all-projects>
  <app-abstract-banner [color]="'fourth-color-second'" [title]="'My Certificates'" [hasCheckAllButton]="true" ></app-abstract-banner>
  <app-all-certificates></app-all-certificates>
  <app-abstract-banner [color]="'third-color'" [title]="'Volunteering'" [hasCheckAllButton]="true" ></app-abstract-banner>
  <app-all-volunteering-cards></app-all-volunteering-cards>
  <app-feedback-form></app-feedback-form>
  <app-footer></app-footer>

</div>

