<div class="center-of-page feedback-container" *ngIf="!isSent"
     fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="stretch center">
  <mat-progress-bar *ngIf="isSending" mode="indeterminate" color="accent" style="width: 100%;height: 8px; position: absolute;top: 0;left: 0"></mat-progress-bar>
  <div fxFlex.gt-sm="55" fxFlex.lt-md="100">
    <h2 style="text-align: left;width: 350px">
      Send your feedback</h2>
  </div>

  <div fxFlex.gt-sm="45" fxFlex.lt-md="100">
    <form [formGroup]="feedbackForm">
      <div class="input-container">
        <label for="stars"> How much does it deserve ? </label>
        <app-star-handler [starCount]="starCount" (onStarCountChange)="updateStarCount($event)"></app-star-handler>
        <input id="stars" formControlName="stars" hidden>
      </div>
      <br>
      <div class="input-container">
        <label for="name"> Name </label><br>
        <input placeholder="Enter Name" id="name" type="text" formControlName="name">
      </div>
      <div class="input-container">
        <label for="message"> Excited to read your message </label><br>
        <textarea placeholder="Feedback" id="message" formControlName="message"></textarea>
      </div>
      <button style="margin-top: 16px" type="submit" (click)="sendFeedback()">Submit</button>
    </form>
  </div>
</div>

<div class="center-of-page feedback-container" *ngIf="isSent"
  fxLayout="column" fxLayoutAlign="center center">
  <h1 style="text-align: left;max-width: 100%;margin: 0;">
    :)
  </h1>
    <h2 style="text-align: center;max-width: 100%;">
      Thank you for your time !</h2>
</div>
