@import "src/assets/style/constants";

.nav-bar-container {
  position: relative;
  padding: 32px;
  margin-top: 8px;
  border-style: solid;
  border-width: 8px;
  border-color: $primary-color;
}

@media screen and (max-width: #{$screen-width}){
  .nav-bar-container {
    margin-top: 0;
    padding: 32px;
  }
}

@media screen and (max-width: #{$screen-width-sm}){
  .nav-bar-container {
    margin-top: 0;
    padding: 16px;
  }
}

.nav-bar-logo {
  height: 40px;
  padding-right: 10px;
}

.nav-bar-icon {
  cursor: pointer;
  height: 24px;
  padding-right: 10px;
  opacity: 1;
}

.nav-bar-icon:hover {
  opacity: .5;
}

.right-nav-bar-section {
  font-size: 32px;
  font-weight: bold;
  color: $shade-five;
}

.left-nav-bar-section {

}
