@import "src/styles";

.banner-container {
  position: relative;

  justify-content: center;
  text-align: center;
  color: $shade_one;
  margin-top: 8px;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 64px;
}

h2 {
  max-width: 650px;
}

@media screen and (max-width: #{$screen-width}) {
  .banner-container {
    padding: 32px;
  }

  h2 {
    font-size: 400%;
    margin: 0 0 20px;
  }
}

@media screen and (max-width: #{$screen-width-sm}) {
  .banner-container {
    padding: 16px;
  }

  h2 {
    font-size: 250%;
    line-height: 150%;
    margin: 0 0 20px;
    letter-spacing: 0;
  }
}
