@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,700&display=swap');
@import "assets/style/constants";
@import "assets/style/header-style";
@import "assets/style/button";
@import "assets/style/text-formatting";
@import "assets/style/scroll-bar";
@import "assets/style/generic";
html, body {
  min-height: 100%;

}


body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: $shade-one;
  color: $shade-four;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;

}

.underline {
  position: relative;
  color: white;
}

.underline::after {
  content: "";
  background: $primary-color;
  height: 24px;
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 24px;
  left: 0;
}

